{% extends 'CHUMedecinBundle:Default:index.html.twig'%}
 {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/public/css/creerCompte.css')}}">
<link rel="stylesheet" href="{{asset('public/css/font-awesome.min.css')}}">
<link rel="stylesheet"  href="{{asset('public/css/log.css')}}" />
<script type="text/javascript"></script>
{% endblock  %}

{% block body %}

   <div class="container">
 {% if code is defined  %}
       <br>
        <h1>Numero d'anonymat generer</h1>
  <pre class="page-header">{{ code }}</pre>

 {% else %}
  <div class="page-header"></div>
  <div id="signup-form" style="float:left;">
   {% block form %}
    <form  action= "{{ path('creer_compte_medecin')}}"  method="post">
    <p>
     <label >Type de compte</label>
       <select style="width:250px" name="role">
      <option value="ROLE_SALARIE" >Salarie</option>   
     </select>
        
    </p><br>
    <p>
     <button id="submit" type="submit">S'enregister</button>
    </p>   
   </form>
      {%endblock%}
  </div>
 {% endif %}
</div>

{%endblock%}