<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Projet CHU{% endblock %}</title>

        <meta name="description">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="{{asset('public/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('public/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('public/css/style.css')}}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script type="text/javascript"></script>
    </head>
    <body>
        {% block body %}{% endblock %}


	<!--footer-->
	<footer id="footer">
		<div class="bottom-footer">

		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">

                        <div class="credits">
                            <!--
                               Designed by Université d'Angers
                            -->


                        </div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->

    <script src="{{asset('public/js/jquery.js')}}"></script>
    <script src="{{asset('public/js/bootstrap.js')}}"></script>




        {% block javascripts %}{% endblock %}
    </body>
</html>
