{# /src/CHU/EtudeBundle/Resources/views/Default/build_form.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %} Création d'une étude {% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{asset('public/css/bootsnipp.css')}}">
{% endblock %}

{% block body_bundle %}

<br/>

<h1 id="quest_title">Questionnaire : {{ form_title }}</h1><br/>


  {{ include("CHUEtudeBundle:Default:form_builder.html.twig") }}

  <div id="set_scores" value="{{ scores }}" style='display:none' ></div>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('public/js/bootsnipp.js')}}"></script>
{% endblock %}
