{# /src/CHU/EtudeBundle/Resources/views/Default/build_form.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %} Création d'une étude {% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body_bundle %}



    <div id="create_form">
    <h1> Création d'un questionnaire</h1>
    <div id="form">
    <form method="post" action= "{{path('chu_etude_build_form')}}">
    <div id="form_name">
      <p>Nom du questionnaire :</p>
      {% if titre is defined %}
        <input type="text" name="form_title" value="{{titre}}" required>
      {% else %}
        <input type="text" name="form_title" required>
      {% endif %}
      {% if erreur is defined %}<p class="erreur">{{ erreur }}</p>{% endif %}
    </div>

    <div  type="option-multiple" id="div_choix_scores">
      <p>Score(s) utilisé(s) pour le questionnaire :</p>
      <p>
        <input id="checkBox" type="checkbox" name='scores[]' value="MS">&nbsp; MS &nbsp;
        <input id="checkBox" type="checkbox" name='scores[]' value="Rachis">&nbsp; Rachis &nbsp;
      </p>
    </div>

    <br/>
    <br/>
    <button type="submit" class="btn btn-success">Créer</button>
    <a id="cancelButton" href="{{ path('chu_homepage')}}" class="btn btn-primary">Retour</a>

</form>
</div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}

