{# src/CHU/EtudeBundle/Resources/views/Default/do_questionnaire.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block title %}
{#titre de l'etude #}
{{ etude_name }}
{% endblock %}


{% block body_bundle %}
    <h1>Vos réponses : </h1><br/><br/>

    {% if activate is defined %}
        {% if activate == false %}
          <form class="form-horizontal area">
          {{ etude_form | raw }}
          </form>
        {% else %}
          <form class="form-horizontal area" method="post" action="{{path('chu_etude_questionnaire_repondu')}}">
          {{ etude_form | raw }}
          <input type="submit" class="btn btn-success"/>
          &nbsp;<a id="cancelButton" href="{{ path('chu_homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
        {% endif %}
      {% else %}
        <form class="form-horizontal area" method="post" action="{{path('chu_etude_questionnaire_repondu')}}">
        {{ etude_form | raw }}
        <input type="submit" class="btn btn-success"/>
        &nbsp;<a id="cancelButton" href="{{ path('chu_homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
      {% endif %}
    </form>
{% endblock %}
