{# src/CHU/EtudeBundle/Resources/views/Default/Etude_Aswers_Display.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %}
Questionnaire
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block body_bundle  %}
    <h2>Résultats : </h2><br/><br/>
			<div>
					<legend>Scores du premier participant</legend>
					<ul>
							{% for key, score in scores %}
								<li>{{ key }}: {{ score }}</li>
							{% endfor %}
					</ul>
			</div>

      <form class="form-horizontal area"  >
      {{ form | raw }}
			<a href="{{ path('chu_etude_show_etudes')}}" class="btn btn-primary"> Retour à la liste des études</a>
    </form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset('public/js/GoogleChartsLoader.js')}}"></script>
<script type="text/javascript" src="{{asset('public/js/graphMaker.js')}}"></script>
{% endblock %}

