{# src/CHU/EtudeBundle/Resources/views/Default/show_etudes.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}


{% block stylesheets %}
	  {{ parent() }}
{% endblock %}

{% block title %}
Resultats
{% endblock %}

{% block body_bundle %}

<h1>Vos questionnaires : </h1>

	<div id="liste_etudes">
		{% if not liste_etudes is null %}
		<table>
			{% for etude in liste_etudes %}
				<tr>
					<td>{{etude.titre}}</td>
					<td>
						<form method="post" action="{{ path('chu_etude_check_results_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button type="submit" class="btn btn-link">Consulter les résultats</button>
						</form>
					</td>
					<td>
						<form method="post" action="{{ path('chu_etude_answer_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button type="submit" class="btn btn-link">Répondre</button>
						</form>
					</td>
					<td>
						<form method="post" action="{{ path('chu_etude_delete_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button type="submit" class="btn btn-danger">x</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Vous n'avez aucune étude pour le moment</p>
		{% endif %}
	</div>
	<br/>
  <a id="cancelButton" href="{{ path('chu_homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
