{# src/CHU/EtudeBundle/Resources/views/Default/show_etudes.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
{% endblock %}

{% block title %}
Resultats
{% endblock %}

{% block body_bundle %}

  <div id="submit">
      <form  action= "{{ path('chu_etude_action_questionnaire') }}" method="post">
          <p>
              <label for="newQuestion"> Étude : </label>
  						<select name="id_etude" size="1">
  							{% for etude in liste_etudes %}
  								<option value="{{etude._id}}">{{etude.titre}}</option>
  							{% endfor %}
  						</select>
              <select name="mode" size="1">
                <option value="reponses">Consulter les réponses</option>
                <option value="repondre">Repondre à l'étude</option>
								<option value="supprimer">Supprimer l'étude</option>
              </select>
          </p>
        <input type="submit" value="Voir"/>
      </form>
  </div>
  <pre><a href="{{path('chu__homepage')}}">Retour à l'accueil</a></pre>
{% endblock %}
