{# src/CHU/EtudeBundle/Resources/views/Default/show_etudes.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}


{% block stylesheets %}
	  {{ parent() }}
{% endblock %}

{% block title %}
Resultats
{% endblock %}

{% block body_bundle %}

	<div id="liste_etudes">
		<h1>Vos questionnaires</h1>
		{% if liste_etudes|length == 0 %}
		<div id="table_etudes">
			<p>Vous n'avez aucune étude pour le moment</p>
		</div>
		{% else %}
		<div id="table_etudes">
		<table>
			{% for etude in liste_etudes %}
				<tr>
					<td>{{etude.titre}}</td>
					<td>
						<form method="post" action="{{ path('chu_etude_check_results_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button type="submit" class="btn btn-link">Consulter les résultats</button>
						</form>
					</td>
					<td>
						<form method="post" action="{{ path('chu_etude_answer_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button type="submit" class="btn btn-link">Répondre</button>
						</form>
					</td>
					<td>
						<form method="post" action="{{ path('chu_etude_delete_form')}}">
							<input type="hidden" name="id_etude" value="{{etude._id}}">
							<button id="suppr_etude_button" type="submit" class="btn btn-danger">X</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		{% endif %}
		<a id="cancelButton" href="{{ path('chu_homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
	</div>
	<br/>
{% endblock %}
