{# src/CHU/EtudeBundle/Resources/views/Default/questionnaire.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %}
Questionnaire Test
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
{% endblock %}


{% block chu_questionnaire_body %}
	<div id="submit">
		<form  action= "{{ path('chu_etude_questionnaire_reponse_questionnaire')}}/{{id}}" method="post">
	{% for question in questionnaire %}
	        <p>
	            <label for="question"> {{ question.contenu }} : <br/></label>
	            <input id="question" type="text" name="{{question.id}}" value="" required/>
	        </p>
	{% endfor %}
			<button id="submit" type="submit">Valider</button>
		</form>
	</div>
{% endblock %}
