{# src/CHU/gestionUtilisateurBundle/Resources/views/PagesUtilisateur/accueil.html.twig #}

{% extends "CHUgestionUtilisateurBundle::layoutBundle.html.twig"%}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block chu_gestion_utilisateur_body %}
{% if lastname is defined %}
  {{ lastname }} <br>
{% endif %}

{% if firstname is defined %}
  {{ firstname }} <br>
{% endif %}

{% if username is defined %}
  {{ username }} <br>
{% endif %}

{% if password is defined %}
  {{ password }} <br>
{% endif %}

<form method="post" action="{{ path('chu_gestion_utilisateur_deconnection') }}">
  <button type="submit" class="logoffbtn">Se déconnecter</button>
</form>
{% endblock %}
